@model YoYoWebApp.Models.FitnessRatingViewModel

<style>
    .circle {
        border-radius: 50%;
        border: 1px solid;
        width: 200px;
        height: 200px;
    }

    .playButton {
        width: 100%;
        /*padding-top: 5rem;
        text-decoration: none;
        background-color: transparent;
        color: #0366d6;*/
    }
</style>

<div id="divFitnesRating">
    @if (String.IsNullOrEmpty(Model.ShuttleNo))
    {
        <div class="col-md-offset-4 col-md-3 col-sm-12 col-xs-12 row text-center">
            <button class="playButton text-center" id="playButton" type="button">Play</button>
        </div>
    }
    else
    {
        <div class="col-md-offset-4 col-md-3 col-sm-12 col-xs-12 row circle text-center">
            <div class="col-sm-12">
                @Html.DisplayNameFor(model => model.SpeedLevel)
                <span id="SpeedLevel">@Model.SpeedLevel</span> 
            </div>
            <div class="col-sm-12">
                @Html.DisplayNameFor(model => model.ShuttleNo) 
                <span id="ShuttleNo">@Model.ShuttleNo</span>
            </div>
            <div class="col-sm-12">
                @Html.DisplayNameFor(model => model.Speed) 
                <span id="Speed">@Model.Speed</span>
            </div>
        </div>
    }

    <div class="col-md-12 row text-center">
        <div class="col-sm-4">
            @Html.DisplayNameFor(model => model.NextShuttle)
            <span id="NextShuttle">@Model.NextShuttle</span>
        </div>
        <div class="col-sm-4">
            @Html.DisplayNameFor(model => model.LevelTime)
            @Html.DisplayFor(model => model.LevelTime)
        </div>
        <div class="col-sm-4">
            @Html.DisplayNameFor(model => model.AccumulatedShuttleDistance)
            @Html.DisplayFor(model => model.AccumulatedShuttleDistance)
        </div>
    </div>
</div>

<script src="~/js/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () { 
        var nextShuttleStartsIn = 0;
        function GetNextShuttleDetails() {
            if (parseInt($("#NextShuttle").html()) == 0) {
                var level = $("#SpeedLevel").html();
                var shuttle = $("#ShuttleNo").html();
                $.ajax({
                    url: "/yoyotest/Play",
                    data: { level: parseInt(level), shuttle: parseInt(shuttle) },
                    success: function (ajaxresult) {
                        $("#divFitnesRating").html(ajaxresult); 
                        nextShuttleStartsIn = parseInt($("#NextShuttle").html());
                        var clearIntervalAfter = setInterval(function () {
                            if (parseInt($("#NextShuttle").html()) != 0) {
                                $("#NextShuttle").html($("#NextShuttle").html() - 1);
                            }
                            if (parseInt($("#NextShuttle").html()) == 0) {
                                clearInterval(clearIntervalAfter);
                            }
                        }, 1000); 
                    } 
                }).done(function () { 
                    setTimeout(function () { GetNextShuttleDetails(); }, nextShuttleStartsIn * 1000);
                });
            }
        }
       
        $("#playButton").click(function () {
            GetNextShuttleDetails();
        });
        
    });

   
</script>