@model YoYoWebApp.Models.FitnessRatingViewModel

<style>
    .circle {
        border-radius: 50%;
        border: 1px solid;
        width: 200px;
        height: 200px;
    }
</style>

<div id="divFitnesRating">
    @if (String.IsNullOrEmpty(Model.ShuttleNo))
    {
        <div class="row text-center">
            <button class="btn btn-info circle text-center offset-4 offset-sm-4" id="playButton" type="button">Play</button>
        </div>
    }
    else
    {
        <div class="pt-5 circle text-center offset-4">
            <div class="col-sm-12 text-primary">
                @Html.DisplayNameFor(model => model.SpeedLevel)
                <span id="SpeedLevel">@Model.SpeedLevel</span>
            </div>
            <div class="col-sm-12 text-primary">
                @Html.DisplayNameFor(model => model.ShuttleNo)
                <span id="ShuttleNo">@Model.ShuttleNo</span>
            </div>
            <div class="col-sm-12">
                @Html.DisplayNameFor(model => model.Speed)
                <span id="Speed">@Model.Speed</span> Km/h
            </div>
        </div>
    }

    <div id="progressBar" class="mt-4 mb-4"></div>
    
    <div class="row text-center">
        <span class="col-md-4 col-sm-4 col-xs-2 border-right">
            @Html.DisplayNameFor(model => model.NextShuttle) <br />
            00 : <span id="NextShuttle">@Model.NextShuttle</span> s
        </span>
        <span class="col-md-4 col-sm-4 col-xs-2 border-right">
            @Html.DisplayNameFor(model => model.LevelTime)
            <br />
            @Html.DisplayFor(model => model.LevelTime)
        </span>
        <span class="col-md-4 col-sm-4 col-xs-2">
            @Html.DisplayNameFor(model => model.AccumulatedShuttleDistance)
            <br />
            @Html.DisplayFor(model => model.AccumulatedShuttleDistance)
        </span>
    </div>
</div>

<script>
    $(document).ready(function () {
        var nextShuttleStartsIn = 0;
        function GetNextShuttleDetails() {
            if (parseInt($("#NextShuttle").html()) == 0) {
                var level = $("#SpeedLevel").html();
                var shuttle = $("#ShuttleNo").html();
                $.ajax({
                    url: "/yoyotest/Play",
                    data: { level: parseInt(level), shuttle: parseInt(shuttle) },
                    success: function (ajaxresult) {
                        $("#divFitnesRating").html(ajaxresult);
                        nextShuttleStartsIn = parseInt($("#NextShuttle").html());
                        var clearIntervalAfter = setInterval(function () {
                            if (parseInt($("#NextShuttle").html()) != 0) {
                                $("#NextShuttle").html(($("#NextShuttle").html() - 1));
                            }
                            var progress = $("#progressBar").swidget();
                            progress.value(parseFloat(progress.value() + (100 / nextShuttleStartsIn)).toFixed(2));
                            console.log(progress.value());
                            if (parseInt($("#NextShuttle").html()) == 0) {
                                clearInterval(clearIntervalAfter);
                            }
                        }, 1000);
                    }
                }).done(function () {
                    setTimeout(function () { GetNextShuttleDetails(); }, nextShuttleStartsIn * 1000);
                });
            }
        }

        $("#playButton").click(function () {
            $(".btn-primary").show();
            $(".btn-danger").show();
            GetNextShuttleDetails();
        });

        $("#progressBar").shieldProgressBar({
            value: 0,
            text: {
                enabled: true,
                template: "{0} %"
            }
        });
    });
</script>