@model YoYoTestWrapper

    <div>
        <h4>YoYo Test</h4>
    </div>
    <partial name="FitnessRating" model="Model.FitnessRating">

        <div>Tracks</div>
        <table class="table">
            <tbody>
                @foreach (var item in Model.TrackDetails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SrNo)
                        </td>
                        <td class="col-md-4">
                            @Html.DisplayFor(modelItem => item.AthleteName)
                        </td>
                        @if (item.IsStopped)
                        {
                            <td>
                                @Html.DropDownListFor(model => item.StoppedAt, new SelectList(item.LevelVsShuttleList), "--Select--", new { @class = "form-control col-md-4" })
                            </td>
                        }
                        else
                        {
                            <td class="col-md-4">
                                @Html.ActionLink("Warn", "Warn", new { name = item.AthleteName, isWarned = item.IsWarned })
                            </td>
                            <td class="col-md-4">
                                @Html.ActionLink("Stop", "Stop", new { name = item.AthleteName, isWarned = item.IsStopped })
                            </td>

                        }
                    </tr>
                }
            </tbody>
        </table>

        <script src="~/js/jquery-3.5.1.min.js"></script>
   
        <script>
            $(document).ready(function () {   
                //$("#playButton").click(function (){ 
                     
                //    $.ajax({
                //        url: "/yoyotest/Play/0",  
                //        success: function (ajaxresult) {
                //            debugger;
                //            $("#divFitnesRating").html(ajaxresult);
                //        },
                //        error: function () {

                //        },
                //    });
                //});
            });
        </script>
